<div class="col animated fadeIn fast">
    <div class="card">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>

            <div class="d-grid gap-2">
                <a 
                    [routerLink]="['/heroe', index]"
                    class="btn btn-outline-primary"
                >
                    Ver más...
                </a>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">{{ heroe.aparicion }}</small>
        </div>
    </div>
</div>